.container{
  width:100vw;
  min-height: 100vh;
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 140px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    padding: 30px 100px;
  }

  @media only screen and (max-width: 992px) {
    padding: 20px 70px;
  }

  @media only screen and (max-width: 768px)  {
    padding: 20px;
  }


}